astropy
astroquery
black
defusedxml
flake8
flake8-docstrings
flake8-print
isort
jsonschema
jupyter
matplotlib
mypy
myst-nb
numpydoc
pikepdf
pytest
pytest-cov
pytest-regressions
python-dateutil
pyyaml
requests
responses
sphinx
sphinx-autodoc-typehints
sphinx-book-theme
tox
typer[all]
types-PyYAML
types-requests
